
$fontcolor:white;
.menus{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-card{
  height: 200px;
  width: 300px;
  margin: 10px;
  text-align: center;
  background-color: rgba(70, 4, 132, 0.498);
  .card-body{
    p{
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 2em;
      color:$fontcolor;
      font-weight: 550;
    }
  }
}
.menu-card:link{
  text-decoration: none;
  color: $fontcolor;
}
.menu-card:active{
  color: $fontcolor;
}